@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 222.2 47.4% 11.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 9 86% 68%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 215.4 16.3% 46.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 49 94% 80%;
    --accent-foreground: 49 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 9 86% 68%;
    --chart-1: 250 80% 88%;
    --chart-2: 10 100% 82%;
    --chart-3: 100 50% 80%;
    --chart-4: 49 94% 80%;
    --chart-5: 210 90% 70%;
    --radius: 1rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --popover: 224 71% 4%;
    --popover-foreground: 213 31% 91%;
    --primary: 9 86% 68%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 213 31% 91%;
    --muted: 215 28% 17%;
    --muted-foreground: 218 11% 65%;
    --accent: 49 94% 80%;
    --accent-foreground: 49 100% 15%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 9 86% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
